body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

h1 {
  color: #344c51;
  text-align: center;
  margin-top: 20px;
}

#hadith-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#hadith-table th, #hadith-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

#hadith-details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hadith-details h2 {
  color: #a33f00;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#hadith-content {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.6;
}
.hadith-details {
  background-color: #a3a19c; /* لون الخلفية */
  padding: 10px; /* تباعد النص عن الحواف */
}
/* أنماط للهواتف المحمولة */
@media (max-width: 768px) {
  h1 {
    font-size: 24px; /* تقليل حجم العنوان */
    margin-top: 9px; /* تقليل التباعد العلوي */
  }

  #hadith-table th, #hadith-table td {
    padding: 8px; /* تقليل الهامش داخل الجدول */
  }

  #hadith-details {
    padding: 10px; /* تقليل التباعد داخل تفاصيل الحديث */
  }

  #hadith-details h2 {
    font-size: 18px; /* تقليل حجم عنوان التفاصيل */
  }

  #hadith-content {
    font-size: 16px; /* تقليل حجم النص داخل تفاصيل الحديث */
  }
}
